# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools| 
|------------------|
|  TensorFlow           |
|  Jupyter notebook|
|  Tableau       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

In [ ]:
(3*4)+5

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

## Author
Jemila Abdulai.